.App {
  text-align: center;
}

.App-header {
  background-color: orange;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

li {
  list-style-type: none;
  margin: 1em;
}

input {
  padding: .5em;
  margin: 1em;
}
